/* | Get Google Font */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap'); */

/* Tailwind Basic CSS  */

@import 'tailwindcss';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
  }
}

/* Theme Change With TailwindCSS */
/*
:root {
  --color-primary: #eeeeee;
  --color-secondary: #a7a7a7;
  --color-extra: #777;

  --text-color-primary: #0f0f0f;
  --text-color-secondary: #5a5a5a;
  --text-color-extra: #ccc;
} */

/* Theme Variants  */

.theme_dark {
  --color-primary: #1b1b1b;
  --color-secondary: #555;
  --color-extra: #777;

  --font-heading: 'Roboto Slab', serif;
  --font-body: 'Open Sans', sans-serif;
}

.theme_light {
  --color-primary: #eeeeee;
  --color-secondary: #a7a7a7;
  --color-extra: #777;

  --font-heading: Georgia, 'Times New Roman', Times, serif;
  --font-body: 'Lato', sans-serif;
}

.theme_Pink {
  --color-primary: #ff69b4;
  --color-secondary: #ff99cc;
  --color-extra: #ffccff;

  --font-heading: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --font-body: 'Times New Roman', Times, serif;
}

/* Theme 3 */
.theme_green {
  --color-primary: #16a34a; /* green */
  --color-secondary: #86efac;
  --color-extra: #b2fc6d;

  --color-text: #018308;
  --color-background: #dadada;

  --font-heading: 'Merriweather', serif;
  --font-body: 'Lato', sans-serif;
}

/* Theme 4 */
.theme_purple {
  --color-primary: #7c3aed; /* purple */
  --color-secondary: #c4b5fd;
  --color-extra: #3b0764;

  --color-text: #3b0764;
  --color-background: #faf5ff;

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Nunito', sans-serif;
}

/* Default Theme (Theme 1) */
@theme {
  --color-primary: #1e3fdb;
  --color-secondary: #8abdff;
  --color-extra: #2563eb;

  --color-black: #000000;
  --color-white: #ffffff;

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}
